TWELVEDATA_API_KEY=''
SYMBOL=''               # EUR/USD, GBP/USD, AAPL, EFTs
INTERVAL=''             # Intraday intervals e.g., 1min, 5min, 15min, 30min, , 1h, 2h, 4h, 8h, 1day, 1week, 1month
DATA_OUTPUT_SIZE=''     # Size/amount of data to fetch from 1 - 5000 

STORAGE_PATH=''
FILE_TYPE=''
